{% extends 'base.html.twig' %}

{% block body %}
    <div id="wrapper">
        <div id="container">

            <div class="row">
                <div class="col-md-12">
                    <h1> Usuarios / Crear </h1>
                </div>
                <div class="col-md-12">
                    <p> Formulario para crear usuario </p>
                </div>
            </div>

        </div>
    </div>
{% endblock %}