{% extends 'base.html.twig' %}

{% block body %}
    <div id="wrapper">
        <div id="container">

            <div class="row">
                <div class="col-md-12">
                    <h1> Usuarios / Index </h1>
                </div>
                <div class="col-md-12">
                    <p>ID | Nombre | Usuario | Clave </p>
                    {% for item in usuarios %}
                        <p> {{ item.id }} | {{ item.nombre }} | {{ item.usuario }} | {{ item.claveacceso }}
                    {% endfor %}
                </div>
            </div>

        </div>
    </div>
{% endblock %}