<h3 class="uk-width-1-1">Contáctanos</h3>
<div class="uk-grid-small uk-child-width-1-2@s uk-flex-center uk-text-center uk-margin-large-bottom" uk-grid>
    <div>
        <form>
            <div class="uk-margin">
                <input class="uk-input" type="text" placeholder="Nombre completo">
            </div>

            <div class="uk-margin">
                <input class="uk-input" type="text" placeholder="Correo electrónico">
            </div>

            <div class="uk-margin">
                <input class="uk-input" type="text" placeholder="Teléfono">
            </div>

            <div class="uk-margin">
                <textarea class="uk-textarea" rows="5" placeholder="Mensaje"></textarea>
            </div>

            <div class="uk-margin">
                <button class="uk-button uk-button-primary"> Enviar mensaje </button>
            </div>
        </form>
    </div>
    <div class="uk-width-1-4 uk-text-right">
        <dl class="uk-description-list uk-margin-large-bottom uk-margin-medium-top">
            <dt> Dirección </dt>
            <dd> México </dd>
            <dt> Teléfono  </dt>
            <dd> 999-123-4567 </dd>
            <dt> Correo electrónico </dt>
            <dd> ejemplo@dominio.com </dd>
        </dl>
    </div>
</div>